*.db filter=lfs diff=lfs merge=lfs -text
*.frm filter=lfs diff=lfs merge=lfs -text
*.MYI filter=lfs diff=lfs merge=lfs -text
*.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/validation_intogen/*.csv filter=lfs diff=lfs merge=lfs -text
notebooks/validation_intogen/variants.tsv filter=lfs diff=lfs merge=lfs -text
notebooks/validation_intogen/Census_allThu[[:space:]]Oct[[:space:]]13[[:space:]]19-43-09[[:space:]]2016.csv filter=lfs diff=lfs merge=lfs -text
